<html>

<head>
	<title>Hello World</title>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>

<body>
	Login Test

	<table>
		<tr>
			<td>Username:</td>
			<td><input type=text id="user"/></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input type=password id="pass"/></td>
		</tr>
		<tr>
			<td colspan=2 style="text-align:right">
				<input type=button value="Register" onclick="do_register();"/>
				<input type=button value="Login" onclick="do_login();"/>
			</td>
		</tr>
	</table>

	<div id="text">Response Here</div>

	<script type="text/javascript">
		function do_login() {
			data = {
				username : $("#user").val(),
				password : $("#pass").val()
			};
			
			$.post("/main/validate", data, function(response) {
//			$.post("/user/validate", data, function(response) {
				console.log(response);
				$("#text").html(show_response(response));
			},"json");
		}
		function do_register() {
			data = {
				username : $("#user").val(),
				password : $("#pass").val()
			};
			
			$.post("/user/register", data, function(response) {
				console.log(response);
				$("#text").html(show_response(response));
			},"json");
		}
		function show_response(response) {
			if (response[0].result == "OK") return "SUCCESS";
			return "FAILURE: " + response[1].reason;
		}
	</script>
</body>

</html>