<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="astra.ide.builder"
         name="ASTRA Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="astra.ide.builder.ASTRABuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="astra.ide.nature"
         name="ASTRA Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="astra.ide.builder.ASTRANature">
         </run>
      </runtime>
      <builder
            id="astra.ide.builder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="astra.ide.builder.contribution1">
         <action
               label="Add/Remove ASTRANature"
               class="astra.ide.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="astra.ide.builder.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="astra.ide.problem"
         name="ASTRA Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
	  <classpathContainerInitializer
      		class="astra.ide.builder.ASTRAContainerInitializer"
      		id="astra.ide.builder.ASTRA_LIB_CONTAINER">
  	  </classpathContainerInitializer>
   </extension>
	<extension 
	    point="org.eclipse.jdt.ui.classpathContainerPage">
	   <classpathContainerPage
	       id="astra.ide.builder.ASTRA_LIBCP_CONTAINER"
	       name="ASTRA Runtime Library"
	       class="astra.ide.builder.ASTRAContainerPage"/>
	</extension>
	    <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="astra.ide.perspective.PerspectiveFactory1"
            id="astra.ide.perspective.perspective1"
            name="ASTRA Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
            <view
                  closeable="true"
                  id="org.eclipse.jdt.ui.PackageExplorer"
                  minimized="false"
                  moveable="false"
                  ratio="0.5"
                  relationship="left"
                  relative="org.eclipse.ui.console.ConsoleView"
                  visible="true">
            </view>
            <view
                  id="org.eclipse.ui.console.ConsoleView"
                  minimized="false"
                  moveable="false"
                  ratio="0.5"
                  relationship="bottom"
                  relative="org.eclipse.jdt.ui.PackageExplorer"
                  visible="true">
            </view>
            <newWizardShortcut
                  id="astra.ide.builder.wizard1">
            </newWizardShortcut>            
            <newWizardShortcut
                  id="astra.ide.builder.astra">
            </newWizardShortcut>            
            <newWizardShortcut
                  id="org.eclipse.jdt.ui.wizards.NewClassCreationWizard">
            </newWizardShortcut>            
      </perspectiveExtension>
   </extension>
 <extension
       point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
          configTypeID="astra.file.launcher"
          icon="icons/astra.gif"
          id="astra.file.launcherImage">
    </launchConfigurationTypeImage>
    <launchConfigurationTypeImage
          configTypeID="astra.debugger.launcher"
          icon="icons/astra.gif"
          id="astra.file.launcherImage">
    </launchConfigurationTypeImage>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
          class="astra.ide.launch.ASTRAFileLaunchShortcut"
          icon="icons/astra.gif"
          id="astra.file.shortcut"
          label="ASTRA Agent"
          modes="run">
       <contextualLaunch>
          <contextLabel
                label="ASTRA Agent"
                mode="run">
          </contextLabel>
          <enablement>
             <with
                   variable="selection">
                <iterate>
                   <test property="astra.file.isFile">
                   </test>
                </iterate>
             </with>
          </enablement>
       </contextualLaunch>
    </shortcut>
    <shortcut
          class="astra.ide.launch.ASTRAFileDebugShortcut"
          icon="icons/astra.gif"
          id="astra.debugger.shortcut"
          label="ASTRA Agent"
          modes="debug">
       <contextualLaunch>
          <contextLabel
                label="ASTRA Agent"
                mode="debug">
          </contextLabel>
          <enablement>
             <with
                   variable="selection">
                <iterate>
                   <test property="astra.file.isFile">
                   </test>
                </iterate>
             </with>
          </enablement>
       </contextualLaunch>
    </shortcut>
 </extension>
 <extension
       point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
          delegate="astra.ide.launch.ASTRAFileLaunchConfigurationDelegate"
          id="astra.file.launcher"
          modes="run"
          name="ASTRA Agent">
    </launchConfigurationType>
    <launchConfigurationType
          delegate="astra.ide.launch.ASTRAFileDebugConfigurationDelegate"
          id="astra.debugger.launcher"
          modes="debug"
          name="ASTRA Agent">
    </launchConfigurationType>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
          class="astra.ide.launch.ASTRAFileTabGroup"
          description="Main Tab"
          id="astra.file.tabGroup"
          type="astra.file.launcher">
    </launchConfigurationTabGroup>
    <launchConfigurationTabGroup
          class="astra.ide.launch.ASTRAFileTabGroup"
          description="Main Tab"
          id="astra.file.tabGroup"
          type="astra.debugger.launcher">
    </launchConfigurationTabGroup>
 </extension>
 <extension
       point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="astra.ide.ASTRAPropertyTester"
          id="astra.file.FileEditorInputTester"
          namespace="astra.file"
          properties="isFile"
          type="org.eclipse.ui.part.FileEditorInput">
    </propertyTester>
    <propertyTester
          class="astra.ide.ASTRAPropertyTester"
          id="astra.file.IResourceTester"
          namespace="astra.file"
          properties="isFile"
          type="org.eclipse.core.resources.IResource">
    </propertyTester>
    <propertyTester
          class="astra.ide.ASTRAPropertyTester"
          id="astra.file.JavaProjectTester"
          namespace="astra.file"
          properties="isFile"
          type="org.eclipse.jdt.internal.core.JavaProject">
    </propertyTester>
 </extension>
 <extension
       point="org.eclipse.ui.editors">
    <editor
          class="astra.ide.editor.astra.ASTRAEditor"
          contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
          extensions="astra"
          icon="icons/astra.gif"
          id="astra.ide.editor.editors.ASTRAEditor"
          name="ASTRA Editor">
    </editor>
 </extension>
 <!--extension
       point="org.eclipse.ui.bindings">
		<key sequence="Ctrl+/"
			commandId="astra.ide.editor.astra.togglecomment"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="astra.ide"/>       
 </extension-->
	<extension
	       point="org.eclipse.ui.newWizards">
	    <wizard
	          category="astra.ide.builder.category1"
	          class="astra.ide.wizard.NewProjectWizard"
	          icon="icons/afProject.gif"
	          id="astra.ide.builder.wizard1"
	          name="ASTRA Project"
	          project="true">
	    </wizard>
	    <category
	          id="astra.ide.builder.category1"
	          name="ASTRA">
	    </category>
	    <wizard
	          category="astra.ide.builder.category1"
	          class="astra.ide.wizard.NewASTRAFileWizard"
	          icon="icons/astra.gif"
	          id="astra.ide.builder.astra"
	          name="ASTRA Class"
	          project="false">
	    </wizard>
	 </extension>
 <extension
       point="org.eclipse.ui.bindings">
    <key
          commandId="astra.ide.commands.format"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M2+F">
    </key>
    <key
          commandId="astra.ide.commands.singlecomment"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+/">
    </key>
    <key
          commandId="astra.ide.commands.multicomment"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M3+/">
    </key>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="popup:#TextEditorContext?before=additions">
       <menu
             label="Source">
          <command
                commandId="astra.ide.commands.format"
                style="push">
          </command>
          <command
                commandId="astra.ide.commands.singlecomment"
                style="push">
          </command>
          <command
                commandId="astra.ide.commands.multicomment"
                style="push">
          </command>
       </menu>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          defaultHandler="astra.ide.editor.handlers.FormatCommand"
          id="astra.ide.commands.format"
          name="Format Code">
    </command>
    <command
          defaultHandler="astra.ide.editor.handlers.SingleCommentCommand"
          id="astra.ide.commands.singlecomment"
          name="Toggle Single Line Comment">
    </command>
    <command
          defaultHandler="astra.ide.editor.handlers.MultiCommentCommand"
          id="astra.ide.commands.multicomment"
          name="Toggle Multi Line Comment">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="astra.ide.editor.handlers.FormatCommand"
          commandId="astra.ide.handlers.format">
    </handler>
    <handler
          class="astra.ide.editor.handlers.SingleCommentCommand"
          commandId="astra.ide.handlers.singlecomment">
    </handler>
    <handler
          class="astra.ide.editor.handlers.MultiCommentCommand"
          commandId="astra.ide.handlers.multicomment">
    </handler>
 </extension>
</plugin>
